/* 
<========= Google Fonts =========>
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* 
<========= Documents =========>
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}

/* 
<========= Body =========>
*/
body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* 
<========= Container =========>
*/
.container {
  position: relative;

  overflow: hidden;
}

/* 
<========= Camera =========>
*/
#camera {
  transform: scaleX(-1);
}

/* 
<========= Action Button =========>
*/
#action {
  position: absolute;
  top: 0;
  right: 0;

  width: 180px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-left: 4px solid #005695;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}
#action .btn {
  color: #005595;
  font-size: 74px;
}
