/* 
<========= Google Fonts =========>
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* 
<========= Documents =========>
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}

/* 
<========= Body =========>
*/
body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background: rgba(0, 0, 0, 0.85);
}

/* 
<========= Container =========>
*/
.container {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }
}

/* 
<========= Camera =========>
*/
#camera {
  width: 100%;

  object-position: 50% 50%;
  object-fit: contain;

  transform: scaleX(-1);
}
.back-btn {
  position: fixed;
  top: 28px;
  left: 28px;

  font-size: 58px;
  color: #005595;
}
.back-btn:hover,
.back-btn:active {
  color: #0075c9;
}
@media (max-width: 480px) {
  .back-btn {
    top: 22px;
    left: 22px;

    font-size: 42px;
  }
}

/* 
<========= Action Button =========>
*/
#action-menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-left: 4px solid #005695;
  background: rgb(255, 255, 255);
}
#action-menu .btn {
  cursor: pointer;

  color: #005595;
  font-size: 58px;
}
#action-menu .btn:hover,
#action-menu:active {
  color: #0075c9;
}
@media (max-width: 768px) {
  #action-menu {
    flex-direction: row-reverse;

    border-left: none;
    border-top: 4px solid #005695;
  }
}
@media (max-width: 480px) {
  #action-menu {
    padding: 25% 0;

    align-items: start;
  }
  #action-menu .btn {
    font-size: 42px;
  }
}

/* 
<========= Snapshot =========>
*/
.snapshot-wrapper {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}
.card {
  padding: 22px;
  max-width: 30%;
  max-height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  border-radius: 6px;
  background: white;

  text-align: center;
}
.card h3 {
  color: #888888;
  font-size: 14px;
}
#snapshot-result {
  max-width: 100%;

  overflow: hidden;

  border-radius: 6px;

  transform: scaleX(-1);
}
.card button {
  cursor: pointer;
  padding: 8px;
  margin: 0 auto;
  width: 80%;

  border: 0;
  border-radius: 6px;
  background: #005695;
  outline: none;

  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.card button:hover,
.card button:focus,
.card button:active {
  background: #0075c9;
}
.card button:nth-child(3) {
  border: 2px solid #005595;
  background: white;

  color: #005595;
}
.card button:nth-child(3):hover,
.card button:nth-child(3):focus,
.card button:nth-child(3):active {
  border: 2px solid #0075c9;

  color: #0075c9;
}
@media (max-width: 768px) {
  .card {
    max-width: 70%;
    gap: 14px;
  }
  .card h3 {
    font-size: 16px;
  }
  .card button {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .card {
    padding: 16px;
    max-width: 80%;
    max-height: 80%;
  }
  .card h3 {
    font-size: 14px;
  }
  .card button {
    width: 100%;

    font-size: 12px;
    letter-spacing: 0.4px;
  }
}

/* 
<========= Success =========>
*/
.success-wrapper {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}
.success-wrapper .card {
  padding: 18px 88px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.success-wrapper .card i {
  font-size: 28px;
  color: #005595;
}
.success-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  letter-spacing: 0.6px;
}
@media (max-width: 768px) {
  .success-wrapper .card i {
    font-size: 38px;
  }
  .success-wrapper p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .success-wrapper .card {
    padding: 18px 34px;
    max-width: 80%;
  }
  .success-wrapper p {
    font-size: 12px;
    letter-spacing: 0.4px;
  }
}

/* 
<========= Profile =========>
*/
.profile-wrapper {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}
.profile-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  letter-spacing: 0.6px;
}
.profile {
  padding: 18px;
  max-width: 48%;
  max-height: 50%;

  display: flex;

  border-radius: 6px;
  background: white;
}
.profile .picture {
  width: 20%;

  overflow: hidden;

  display: flex;
  justify-content: center;

  border-radius: 6px;
}
.detail {
  padding: 0 18px;
  width: 80%;
}
.profile-wrapper .detail table {
  color: #888888;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.profile-wrapper .detail table tr td {
  padding: 0 12px 6px 0;
}
@media (max-width: 768px) {
  .profile-wrapper p {
    font-size: 14px;
  }
  .profile {
    flex-direction: column;
  }
  .profile .picture {
    width: 100%;
  }
  .detail {
    padding: 8px 0px 0;
    width: 100%;
  }
  .profile-wrapper .detail table {
    font-size: 14px;
    letter-spacing: 0.4px;
  }
  .profile-wrapper .detail table tr td {
    padding: 0 8px 4px 0;
  }
}
@media (max-width: 480px) {
  .profile-wrapper p {
    font-size: 12px;
    letter-spacing: 0.4px;
  }
  .profile {
    max-width: 80%;
    max-height: 60%;
  }
  .profile .picture {
    height: 40%;
  }
  .profile-wrapper .detail table {
    font-size: 12px;
    letter-spacing: 0.4px;
  }
}
