/* 
<========= Google Fonts =========>
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* 
<========= Documents =========>
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}

/* 
<========= Body =========>
*/
body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* 
<========= Container =========>
*/
.container {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

/* 
<========= Camera =========>
*/
#camera {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  object-position: 50% 50%;
  object-fit: contain;

  transform: scaleX(-1);
}
.back-btn {
  position: fixed;
  top: 32px;
  left: 32px;

  font-size: 58px;
  color: #005595;
}
.back-btn:hover,
.back-btn:active {
  color: #0075c9;
}
@media (max-width: 768px) {
  .back-btn {
    top: 28px;
    left: 28px;

    font-size: 52px;
  }
}
@media (max-width: 480px) {
  .back-btn {
    top: 22px;
    left: 22px;

    font-size: 48px;
  }
}

/* 
<========= Action Button =========>
*/
#action-menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 8%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-left: 4px solid #005695;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}
#action-menu .btn {
  cursor: pointer;

  color: #005595;
  font-size: 58px;
}
#action-menu .btn:hover,
#action-menu:active {
  color: #0075c9;
}
@media (max-width: 768px) {
  #action-menu {
    width: 16%;
  }
  #action-menu .btn {
    font-size: 52px;
  }
}
@media (max-width: 480px) {
  #action-menu {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 12%;

    flex-direction: row-reverse;

    border-top: 4px solid #005695;
    border-left: none;
  }
  #action-menu .btn {
    font-size: 48px;
  }
}

/* 
<========= Snapshot =========>
*/
.snapshot-wrapper {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.card {
  padding: 28px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  border-radius: 6px;
  background: white;

  text-align: center;
}
.card h3 {
  color: #888888;
  font-size: 16px;
}
#snapshot-result {
  margin: 0 auto;
  max-width: 320px;
  overflow: hidden;

  border-radius: 6px;

  transform: scaleX(-1);
}
.card .option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.card .option button {
  cursor: pointer;
  padding: 8px;
  width: 260px;

  border: 0;
  border-radius: 6px;
  background: #005695;
  outline: none;

  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.card .option button:hover,
.card .option button:focus,
.card .option button:active {
  background: #0075c9;
}
.card .option button:nth-child(1) {
  border: 2px solid #005595;
  background: white;

  color: #005595;
}
.card .option button:nth-child(1):hover,
.card .option button:nth-child(1):focus,
.card .option button:nth-child(1):active {
  border: 2px solid #0075c9;

  color: #0075c9;
}
@media (max-width: 768px) {
  .card h3 {
    font-size: 18px;
  }
  #snapshot-result {
    max-width: 280px;
  }
  .card .option button {
    width: 240px;

    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .card h3 {
    font-size: 16px;
  }
  #snapshot-result {
    max-width: 330px;
    max-height: 330px;
  }
  .card .option {
    flex-direction: column-reverse;
  }
  .card .option button {
    max-width: 330px;

    font-size: 16px;
  }
}

/* 
<========= Success =========>
*/
.success-wrapper {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.success-wrapper .card {
  padding: 18px 88px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.success-wrapper .card i {
  font-size: 36px;
  color: #005595;
}
.success-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
@media (max-width: 768px) {
  .success-wrapper .card i {
    font-size: 52px;
  }
  .success-wrapper p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .success-wrapper .card {
    padding: 22px 52px;
  }
  .success-wrapper .card i {
    font-size: 38px;
  }
  .success-wrapper p {
    font-size: 14px;
  }
}

/* 
<========= Profile =========>
*/
.profile-wrapper {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.profile-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.profile {
  padding: 18px;
  width: 62%;
  max-height: 52%;

  display: flex;

  border-radius: 6px;
  background: white;
}
.profile .picture {
  width: 30%;
  overflow: hidden;

  display: flex;
  justify-content: center;

  border-radius: 6px;
}
.detail {
  padding: 0 16px;
  width: 70%;
}
.profile-wrapper .detail table {
  color: #888888;
  font-size: 16px;
  letter-spacing: 0.4px;
}
.profile-wrapper .detail table tr td {
  padding: 6px 12px 0 0;
}
@media (max-width: 768px) {
  .profile {
    width: 72%;
  }
  .detail {
    padding: 0 14px;
  }
  .profile-wrapper .detail table {
    font-size: 16px;
  }
  .profile-wrapper p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .profile-wrapper p {
    font-size: 14px;
  }
  .profile {
    padding: 18px;
    width: 84%;
    max-height: 54%;

    flex-direction: column;
    gap: 12px;
  }
  .profile .picture {
    width: 100%;
    height: 50%;
  }
  .detail {
    padding: 0;
    width: 100%;
    height: max-content;
  }
  .profile-wrapper .detail table {
    font-size: 14px;
  }
}
