/* 
<========= Google Fonts =========>
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* 
<========= Documents =========>
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}

/* 
<========= Body =========>
*/
body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

/* 
<========= Container =========>
*/
.container {
  position: relative;

  overflow: hidden;
}

/* 
<========= Camera =========>
*/
#camera {
  width: 100%;
  height: 100%;

  transform: scaleX(-1);
}
.back-btn {
  position: fixed;
  top: 30px;
  left: 30px;

  font-size: 78px;
  color: #005595;
}

/* 
<========= Action Button =========>
*/
#action-menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 180px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-left: 4px solid #005695;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}
#action-menu .btn {
  color: #005595;
  font-size: 74px;
}

/* 
<========= Snapshot =========>
*/
.snapshot-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.card {
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: 6px;
  background: white;

  text-align: center;
}
.card h3 {
  color: #888888;
  font-size: 28px;
}
#snapshot-result {
  margin: 0 auto;
  width: 386px;
  overflow: hidden;

  border-radius: 6px;

  transform: scaleX(-1);
}
.card .option {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.card .option button {
  padding: 12px 18px;
  width: 292px;

  border: 0;
  border-radius: 6px;
  background: #005695;
  outline: none;

  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.card .option button:nth-child(1) {
  border: 2px solid #005595;
  background: white;

  color: #005595;
}

/* 
<========= Success =========>
*/
.success-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.success-wrapper .card {
  padding: 32px 128px;

  font-size: 78px;
}
.success-wrapper .card i {
  color: #005595;
}
.success-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

/* 
<========= Profile =========>
*/
.profile-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.profile-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.profile {
  padding: 32px;
  width: 50%;

  display: flex;

  border-radius: 6px;
  background: white;
}
.profile .picture {
  width: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
}
.detail {
  padding: 0 16px;
  width: 50%;
}
.profile-wrapper .detail p {
  color: #888888;
  font-size: 18px;
}
