/* 
<========= Google Fonts =========>
*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* 
<========= Documents =========>
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Quicksand";
}

/* 
<========= Body =========>
*/
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
<========= Container =========>
*/
.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* 
<========= Header =========>
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  color: #666666;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
header img {
  width: 122px;
}

/* 
<========= Form =========>
*/
form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
form a {
  outline: none;

  color: #005695;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
}
form a:hover,
form a:active,
form a:focus {
  color: #0075c9;
}
.textfield {
  overflow: hidden;

  display: flex;
  border-radius: 6px;
  border: 0.8px solid #666666;
}
input {
  padding: 17.21px;
  width: 350px;

  border: none;
  outline: none;

  color: #888888;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.toggle-password {
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #888888;
  font-size: 22px;
}
.btn {
  padding: 14px 0;

  border: 0;
  border-radius: 6px;
  background: #005695;
  outline: none;

  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.btn:hover,
.btn:focus,
.btn:active {
  background: #0075c9;
}

/* 
<========= Footer =========>
*/
footer {
  position: absolute;
  bottom: 35px;

  color: #777777;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
